{{template "base" .}}

{{define "content"}}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center mt-4">About</h1>
        <hr>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit pellentesque habitant morbi. Aliquam etiam erat velit scelerisque in. Sed ullamcorper morbi tincidunt ornare massa eget. Elementum integer enim neque volutpat. Auctor augue mauris augue neque gravida in. Vitae purus faucibus ornare suspendisse sed nisi lacus. Ut morbi tincidunt augue interdum velit euismod. Iaculis urna id volutpat lacus laoreet non curabitur gravida arcu. Cursus vitae congue mauris rhoncus aenean vel elit scelerisque. Aenean et tortor at risus viverra. Enim blandit volutpat maecenas volutpat blandit. Lorem donec massa sapien faucibus et molestie ac feugiat. A lacus vestibulum sed arcu.
        </p>
        <p>
          Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at. In ante metus dictum at tempor commodo ullamcorper. Sit amet nisl purus in mollis. Nisl condimentum id venenatis a condimentum. Amet consectetur adipiscing elit duis tristique. Urna neque viverra justo nec ultrices dui sapien eget mi. A lacus vestibulum sed arcu. Mi sit amet mauris commodo quis imperdiet massa. Eu non diam phasellus vestibulum lorem sed risus ultricies tristique. Et tortor at risus viverra adipiscing at. Scelerisque felis imperdiet proin fermentum leo vel orci porta. A arcu cursus vitae congue mauris.
        </p>
      </div>
    </div>
  </div>
{{end}}