{{template "base" .}}

{{define "content"}}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">Contact</h1>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col">
                <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:Eh1UdWxsaWNoIFJkLCBCYWxsYXRlciBBQjM1LCBVSyIuKiwKFAoSCbP4-eE90IVIEQ56mkKasAsNEhQKEgmXyGMAs-eFSBHf3oCAbj9Cvg&key=AIzaSyDBJDMC8gN5fVdih2EmM-0CODdAKrW8yjw"></iframe>
            </div>
            <div class="col">
                <address>
                    <strong>Forth Smythe Bed &amp Breakfast</strong><br>
                    100 Tullich Road<br>
                    Ballater<br>
                    Scotland<br>
                    01234567890<br>
                    <a href="mailto:info@fsbb.com">info@fsbb.com</a>
                </address>
            </div>
        </div>

    </div>

{{end}}